

{{ form(form) }}

{#{% block title %}SantaBundle:Horoscope:horoscope{% endblock %}#}

{#{% block body %}#}
{#<h1>Welcome to the Horoscope:horoscope page</h1>#}

    {#Hello {{ sign }}! Here is your fortune cookie for {{ day }}: the stars and planets will not affect your life in any way#}
{#{% endblock %}#}
